@keyframes growing_circle {
  from {
    opacity: 0;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(30);
  }
}
@keyframes tooltip_popup {
  from {
    opacity: 0;
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animation_circle {
  position: absolute;
  right: 3.6923076923rem;
  bottom: 2.4615384615rem;
  transform: translate(50%, 50%);
  background-color: hsl(217deg, 19%, 35%);
  width: 2.3076923077rem;
  height: 2.3076923077rem;
  border-radius: 100%;
}

.footer__animation-container {
  display: none;
  position: absolute;
  height: 4.9230769231rem;
  width: 100%;
  overflow: hidden;
  bottom: 0;
  left: 0;
  z-index: 2;
}

:root {
  font-size: 0.8125em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: hsl(210deg, 46%, 95%);
  padding-top: 11.0944527736vh;
  padding-inline: 1.8461538462rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width: 800px) {
  body {
    padding-top: 0;
    align-items: center;
  }
}

a:any-link {
  color: white;
}
a:hover {
  color: hsl(212deg, 23%, 69%);
}

.card {
  background-color: white;
  box-shadow: 0px 40px 40px -10px hsla(210deg, 29%, 84%, 0.503);
  border-radius: 10px;
  width: 100%;
  max-width: 34.6153846154rem;
}
@media (min-width: 800px) {
  .card {
    max-width: 56.1538461538rem;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 2.7692307692rem;
}
@media (min-width: 800px) {
  .card__content {
    flex-direction: row;
    gap: 3.0769230769rem;
  }
}

.card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: left 50% top clamp(-30.5px, 0.0153846154 * 100vw + -36.2692307692px, -28.5px);
  border-radius: 10px 10px 0 0;
}
@media (min-width: 800px) {
  .card__img {
    width: 21.9230769231rem;
    height: 21.5384615385rem;
    object-position: left center;
    border-radius: 10px 0 0 10px;
  }
}

@media (min-width: 800px) {
  .card__text {
    padding-top: 2.4615384615rem;
    padding-right: 3.0769230769rem;
  }
}

.text__heading {
  font-size: 1.2307692308rem;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: hsl(217deg, 19%, 35%);
  margin-inline: 2.4615384615rem;
  margin-bottom: 0.75em;
}
@media (min-width: 800px) {
  .text__heading {
    font-size: 1.5384615385rem;
    line-height: 1.4;
    letter-spacing: 0.25px;
    margin-inline: 0;
    margin-bottom: 0.6em;
  }
}

.text__paragraph {
  font-size: 1rem;
  line-height: 1.5384615385;
  font-weight: 500;
  letter-spacing: 0.121875px;
  color: hsl(214deg, 17%, 51%);
  margin-inline: 2.4615384615rem;
  margin-bottom: 2.4615384615em;
}
@media (min-width: 800px) {
  .text__paragraph {
    margin-inline: 0;
    margin-bottom: 1.5384615385em;
  }
  .text__paragraph br {
    display: none;
  }
}

.card__footer {
  display: flex;
  position: relative;
  padding-bottom: 0.9230769231rem;
}
@media (min-width: 800px) {
  .card__footer {
    padding: 0;
    margin-bottom: 2.4615384615rem;
  }
}

.footer__author {
  display: flex;
  align-items: center;
  gap: 1.2307692308rem;
  margin-left: 2.4615384615rem;
  transition: opacity 0.5s ease;
}
@media (min-width: 800px) {
  .footer__author {
    margin: 0;
  }
}

.author__avatar {
  width: 3.0769230769rem;
  border-radius: 100%;
}

.author__name {
  font-size: 1rem;
  line-height: 1.5384615385;
  font-weight: 700;
  color: hsl(217deg, 19%, 35%);
}

.author__published {
  display: block;
  font-weight: 500;
  color: hsl(212deg, 23%, 69%);
}

.footer__share-btn {
  width: 2.4615384615rem;
  height: 2.4615384615rem;
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  background-color: hsl(210deg, 46%, 95%);
  color: hsl(214deg, 17%, 51%);
  position: absolute;
  right: 2.4615384615rem;
  bottom: 1.2307692308rem;
  z-index: 5;
  transition: 0.2s ease;
}
.footer__share-btn:hover {
  background-color: hsl(214deg, 17%, 51%);
  color: white;
}
@media (min-width: 800px) {
  .footer__share-btn {
    bottom: 0.3076923077rem;
    right: 0;
  }
}

.share-btn--active {
  background-color: hsl(214deg, 17%, 51%);
  color: white;
}
.share-btn--active:hover {
  background-color: hsl(210deg, 46%, 95%);
  color: hsl(214deg, 17%, 51%);
}

.footer__share-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  background-color: transparent;
  padding: 1.2307692308rem 2.4615384615rem;
  display: none;
  align-items: center;
  z-index: 4;
  opacity: 0;
  transition: opacity 0.3s ease;
}
@media (min-width: 800px) {
  .footer__share-menu {
    width: 19.0769230769rem;
    height: 4.2307692308rem;
    background-color: hsl(217deg, 19%, 35%);
    box-shadow: 0px 10px 10px rgba(201, 213, 225, 0.503415);
    border-radius: 10px;
    padding: 1.2307692308rem 2.7692307692rem;
    left: auto;
    right: clamp(-8.3076923077rem, -0.43 * 100vw + 21.4615384615rem, -5rem);
    bottom: 5.3076923077rem;
    transition: opacity 0.3s ease;
  }
}
@media (min-width: 800px) {
  .footer__share-menu:after {
    content: "";
    background-color: hsl(217deg, 19%, 35%);
    position: absolute;
    width: 1.8461538462rem;
    height: 1.8461538462rem;
    bottom: 0;
    left: clamp(8.6153846154rem, -0.43 * 100vw + 38.3846153846rem, 11.9230769231rem);
    transform: translateY(50%) rotate(45deg);
  }
}

.menu__share {
  font-size: 1rem;
  line-height: 1.5384615385;
  font-weight: 500;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: hsl(212deg, 23%, 69%);
  justify-content: space-between;
  margin-right: 7.98%;
}
@media (min-width: 800px) {
  .menu__share {
    margin-right: 1.6153846154rem;
  }
}

.menu__social-media {
  display: flex;
  gap: clamp(0.8461538462rem, 0.0909090909 * 100vw + -1.3916083916rem, 1.2307692308rem);
  align-items: center;
}

.attribution {
  position: fixed;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*# sourceMappingURL=style.css.map */
